{# Base template for config info output #}
std::cout << "=== Config Header Information ===" << std::endl;
std::cout << "Project: " << TEST_{{ PACKAGE_UPPER }}_PROJECT_NAME << std::endl;
std::cout << "Version: " << TEST_{{ PACKAGE_UPPER }}_GIT_VERSION << std::endl;
std::cout << "Build Type: " << TEST_{{ PACKAGE_UPPER }}_CMAKE_BUILD_TYPE << std::endl;
