{# Yaml package test #}
#include <yaml-cpp/yaml.h>

void test_{{ PACKAGE_LOWER }}() {
    std::cout << "=== Testing YAML ===" << std::endl;
    YAML::Node node = YAML::Load("test: value\nnumber: 42");
    std::cout << "YAML node created" << std::endl;
    std::cout << "test = " << node["test"].as<std::string>() << std::endl;
    std::cout << "number = " << node["number"].as<int>() << std::endl;
}
