build/
build-*/
build-*
.cache/
__pycache__/
.DS_Store
**/.DS_Store
CMakeUserPresets.json
compile_commands.json
examples/spack/environments/*/spack.lock
examples/spack/environments/*/.spack-env/
examples/spack/environments/*/.spack-view
