build/
build-*/
build-*
.cache/
__pycache__/
.DS_Store
**/.DS_Store
CMakeUserPresets.json
compile_commands.json
examples/spack/environments/*/spack.lock
environments/production/*/spack.lock
examples/spack/environments/*/.spack-env/
examples/spack/environments/*/.spack-view
environments/production/*/.spack-view
environments/production/*/.spack-env
environments/**/spack.lock
environments/**/.spack-env/
environments/**/.spack-view
